<%- include('../../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../../includes/navigation.ejs') %>
        <main class="centered">
            <h2><%= book.name %></h2>
            <hr>
            <h2><%= book.category.name %></h2>
            
           
        </main>
        <%- include('../../includes/end.ejs') %>